<nav class="navbar navbar-light bg-light border-bottom">
  <div class="container-fluid">
    <%= link_to "RailsWikinimousReboot", root_path, class:"navbar-brand text-gray fs-6", style: "font-family: 'Roboto Slab', serif;" %>
    <%= link_to "New article", new_article_path, class:"text-decoration-none text-dark me-3" %>
  </div>
</nav>
